absl-py==0.8.0
astor==0.8.0
backports.weakref==1.0.post1
certifi==2019.9.11
enum34==1.1.6
funcsigs==1.0.2
future==0.17.1
futures==3.3.0
gast==0.2.2
google-pasta==0.1.7
grpcio==1.16.1
h5py==2.9.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-self-attention==0.42.0
linecache2==1.0.0
Markdown==3.1.1
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mock==2.0.0
numpy==1.16.5
opt-einsum==2.3.2
pbr==5.4.3
protobuf==3.9.2
PyYAML==5.1.2
scipy==1.2.1
six==1.12.0
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
termcolor==1.1.0
traceback2==1.4.0
unittest2==1.1.0
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
